
body{
    background-color: rgb(250, 231, 67);
}
h1{
    font-family: fantasy;
    text-align: center;
    background-color: rgb(24, 188, 252);
    color: rgb(250, 231, 67);
    font-size: 40px;
    padding: 25px;
}
p{
    font-family: fantasy;
    text-align: center;
    color: rgb(24, 188, 252);
    font-size: 20px;
}
.animate{
    animation: jump 500ms;
}
#game{
    border-width: 600px;
    height: 300px;
    background-color: rgb(24, 188, 252);
}
#character{
    width: 15px;
    height: 50px;
    position: relative;
    top: 188px;
    right: -50px;
}
#evil{
    width:90px;
}
#block{
    position:relative;
    top:160px;
    left:1500px;
}
@keyframes jump{
    0%{top:175px;}
    30%{top:80px;}
    70%{top:80px;}
    100%{top:175px;}
}
@keyframes block-ani{
    0%{left:1500px;}
    100%{left:-300px;}
}
button{
    background-color:rgb(24, 188, 252) ;
    border: none;
    padding: 20px;
    font-family: fantasy;
    color:rgb(250, 231, 67);
    text-align:center;
    cursor: pointer;
    margin-top: 20px;
}
button:hover{
    opacity: 0.3;
}
